
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="~/Reservation/Index/" method="post">
    <div class="well">
        <input type="text" placeholder="Enter your Name" name="Name" />
        <input type="text" placeholder="Enter your E-mail" name="Email" />
        <input type="text" placeholder="Enter your phone number" name="Phone" />
        <textarea rows="4" cols="50" name="Content"></textarea>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
